extends layout

block content
  h1= title

      table(width='100%', cellspacing='0', cellpadding='0', border='0', bgcolor='#F2F2F2')
        thead
            tr
              th Code
              th Name
              th Rate
              th Last Refreshed
        tbody
          each rate in rates
              tr
                td #{rate.code}
                td #{rate.name}
                td #{rate.rate}
                td #{rate.lastRefreshedd.toISOString().split('.')[0].replace('T',' ')}